<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <title>Server Programming</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link type="text/css" rel="stylesheet" href="/bootstrap.min.css" />
</head>

<body>

    <h2>Book List</h2>
    <p>
        Logged in as: <span sec:authentication="name"></span>
    </p>

    <form th:action="@{/logout}" method="post">
        <button type="submit">Logout</button>
    </form>

    <table class="table table-striped">

        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Publication Year</th>
            <th>Price</th>
            <th>Category</th>
            <th></th>
        </tr>

        <tr th:each="book : ${books}">
            <td th:text="${book.title}"></td>
            <td th:text="${book.author}"></td>
            <td th:text="${book.publicationYear}"></td>
            <td th:text="${book.price}"></td>
            <td th:text="${book.category.name}"></td>

            <td>
                <a sec:authorize="hasRole('ADMIN')" th:href="@{/delete/{id}(id=${book.id})}" class="btn btn-danger">
                    Delete
                </a>

                <a th:href="@{/edit/{id}(id=${book.id})}" class="btn btn-primary">Edit</a>
            </td>
        </tr>

    </table>

    <a href="/addbook" class="btn btn-success">Add Book</a>

</body>

</html>